//@import 'fonts';
// Base
body {
    font-family: 'Kanit', sans-serif;
}

.noList, .no-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1, h2, h3 {
    font-family: 'Kanit';
    font-weight: normal;
}

// Navigation

.navbar-nav {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    ul > li {
        display: block;
        
        a {
            font-family: 'Kanit';
            color: #333;
            &.active {
                color: $baseBgColor;
            }
        }
    }

    ul .socialMediaList {
        a {
            color: #333;
        }
    
    }
}

.navbar-nav ul > li.socialMediaList {
    font-size: 18px;
    padding: 10px 15px;
}

.navbar {
    padding: 0;
    .nav-item {
        padding: 10px 15px;
        border-bottom: 1px solid #eee;
    }
    > .container {
        max-width: initial;
    }
}

.navbar-brand {
    font-size: 30px;
    padding: 0;
    img {
        width: 85px;
        height: 27px;
    }
}

.logoWrapper {
    text-align: left;
    padding: 0 15px;
}

.navbar-toggler {
    float: right;
    padding: 10px 0;
    line-height: 0;
    font-size: 0;
}

.hamburger {
    display: inline-block;
    width: 27px;
    height: 21px;
    background: url('../images/hamburger-menu.svg') no-repeat 0 0;

}

// topBanner
.topBanner {
    overflow: hidden;
    img {
        width: 100%;
    }
}

// base block
.blockWrapper {
    margin: 15px 0;
}
.blockTitle {
    background-color: $baseBgColor;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 24px;
}

// Card teaser
.card-title {
    margin-bottom: 0;
    font-size: 16px;
}

// Credit card
.creditCardSection {
    text-align: center;
    margin: 50px 0;
    img {
        max-width: 315px;
        margin-bottom: 15px;
    }
}

// Bottom Banner

.parallax-container {
    position: relative;
    height: 455px;
    overflow: hidden;
}
  
.parallax {
    position: absolute;
    height: 200%;
    width: 100%;
    z-index: -1;
}

// projectDetailWrapper

.projectDetailWrapper {
    padding: 50px 0;
    margin: 0;
    background-color: $baseBgColorDarken;
    color: #fff;
}

.portfolios {
    a {
        color: #333;
        text-decoration: none;
    }
    .card-title {
        font-size: 18px;
        font-weight: normal;
    }
    .card {
        margin-bottom: 15px;
    }
}

// Footer
.footer {
    background-color: $baseBgColor;
    color: #fff;
    font-size: 14px;
    .footerInfoWrapper {
        padding: 30px 0;
    }
    a {
        color: #fff;
    }
    .title {
        font-size: 24px; 
    }
}

.owner-wrapper {
    text-align: center;
    max-width: 250px;
    .img-wrapper {
        max-width: 180px;
        margin-bottom: 7px;
        position: relative;
        .name {
            margin-bottom: 0;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(0, 0, 0, 0.441);
            color: #fff;
            padding: 5px;
        }
    }
}

.ccWrapper {
    text-align: center;
    padding: 15px 0;
    background-color: $baseBgColorDarken;
}

.card-deck {
    a {
        color: #333;
        &:hover, &:active, &:focus {
            text-decoration: none;
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {  
    .card-deck .card {
        flex: auto;
        margin-bottom: 15px;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px)  { 
    .card-deck .card {
        flex: 1 0 0;
        margin-bottom: 0;
    } 
    .portfolios {
        .card {
            margin-bottom: 15px;
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    .logoWrapper {
        text-align: center;
    }
    .navbar-brand {
        font-size: 30px;
        img {
            width: 265px;
            height: 90px;
        }
    }

    .navbar-nav {
        width: 100%;
        ul { 
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
        ul > li {
            display: inline-block;
            padding: 2px 0;
            width: auto;
            flex-grow: 1;
            a {
                &:hover, &.active {
                    text-decoration: underline;
                    color: #fff;    
                }
            }
        }
        ul .socialMediaList {
            a {
                color: #fff;
                &:hover, &.active {
                    text-decoration: none; 
                }
            }
        
        }
    }
    .navbar {
        background-color: $baseBgColorDarken;
        padding: .5rem 1rem;
        .nav-item {
            border-bottom: 0;
            color: #fff;
            padding: 3px 15px;
        }
        > .container {
            max-width: 960px;
        }
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 25px;
        padding-left: 25px;
        border-right: 1px solid #fff;
        text-align: center;
    }

    .navbar-nav ul > li.socialMediaList {
        padding: 0 30px;
    }
    .logoWrapper {
        padding: 10px 15px;
    }
    .card-title {
        font-size: 24px;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  
    .navbar > .container {
        max-width: 1140px;
    }
}