.card {
    a {
        display: block;
        cursor: pointer;
        .cardImageWrapper {
            position: relative;
            overflow: hidden;
            &:after {
                transition: all .2s ease-in-out;
                content: '\00a0';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: rgba(0, 0, 0, 0.3);
            }

            img {
                transition: all 1s ease-in-out;
            }
        }
        &:hover, &:active, &:focus {
            .cardImageWrapper {
                &:after {
                    background-color: rgba(0, 0, 0, 0.1);
                }
                img {
                    transform: scale(1.1);
                }
            }
        }

    }
}