.titlebgBackground {
    padding: 100px 0;
    text-align: center;
    background-size: cover;
    background-position: center center;
    color: #fff;
    position: relative;
    z-index: 1;
    margin-bottom: 30px;
    &:before {
        content: '\00a0';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.49);
        z-index: 0;
    }
    h1 {
        position: relative;
        z-index: 2;
    }
}

.content {
    margin: 50px 0;
}