$baseBgColor: #1f84c6;
$baseBgColorDarken: #0072bb;

// Base
body {
    font-family: 'Kanit', sans-serif;
}

.noList {
    list-style: none;
    padding: 0;
    margin: 0;
}

// Navigation
.navbar {
    background-color: $baseBgColorDarken;
}
.navbar-nav {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    ul > li {
        display: inline-block;
        a {
            color: #fff;
        }
    }
}

// topBanner
.topBanner {
    max-height: 435px;
    overflow: hidden;
}

// base block
.blockWrapper {
    margin: 15px 0;
}
.blockTitle {
    background-color: $baseBgColor;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 24px;
}

// Bottom Banner

.parallax-container {
    position: relative;
    height: 455px;
    overflow: hidden;
}
  
.parallax {
    position: absolute;
    height: 200%;
    width: 100%;
    z-index: -1;
}

// projectDetailWrapper

.projectDetailWrapper {
    padding: 50px 0;
    margin: 0;
    background-color: $baseBgColorDarken;
    color: #fff;
}

// Footer
.footer {
    background-color: $baseBgColor;
    color: #fff;
    font-size: 14px;
    .footerInfoWrapper {
        padding: 30px 0;
    }
    a {
        color: #fff;
    }
    .title {
        font-size: 24px; 
    }
}

.ccWrapper {
    text-align: center;
    padding: 15px 0;
    background-color: $baseBgColorDarken;
}